    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap');

    body {
      font-family: Poppins, sans-serif;
      margin: 0;
      padding: 0;
      background: rgb(13, 17, 23);
      color: rgb(201, 209, 217);
    }

    h1 {
      text-align: center;
      margin: 20px 0;
      font-size: 32px;
      font-weight: bold;
      color: rgb(201, 209, 217)
    }

    dl {
      width: 80%;
      margin: 2.5rem auto;
      padding: 20px;
      box-sizing: border-box;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      background-color: rgb(22, 27, 34);
      border-radius: 10px;
    }

    dt {
      font-size: 32px;
      font-weight: bold;
      margin: 5px 10px;
      color: rgb(201, 209, 217);
    }

    dt span {
    font-size: 12px;
    color: rgb(201, 209, 217);
    background: rgb(75, 85, 99);
    padding: 5px 10px;
    border-radius: 10px;
    }

    dd {
      font-size: 18px;
      color: rgb(201, 209, 217);
      margin: 0;
    }

    pre {
      white-space: pre-wrap;
      font-family: Poppins, sans-serif;
      background: rgb(44, 52, 64);
      padding: 20px 15px;
      border-radius: 10px;
    }

    pre:hover {
        background: rgb(75, 85, 99);
        color: white;
        transition: .25s;
        transition-timing-function: ease-in-out
    }

    pre span {
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
    }

    input[type="text"] {
      display: flex;
      align-items: center;
      width: 300px;
      margin: auto;
      flex: 1;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px 0 0 5px;
      font-size: 16px;
      outline: none;
    }

    .text {
        display: block;
        width: fit-content;
        margin: auto;
        margin-top: 10px;
        text-align: center;
    }

    #dynamicText {
        display: block;
        width: fit-content;
        margin: auto;
        margin-top: 10px;
        background: #D4F1F4;
        color: #0E86D4;
        text-align: center;
        padding: 5px 10px;
        border-radius: 10px;
    }

