<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Definify - {{ inp_wrd }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='input_word.css') }}">
</head>
<body>
  <h1>Definify</h1>
  <dl>
    <dt>{{ inp_wrd }} <span>(Input Word)</span></dt>
    <dd>
        <pre><span>Definitions</span> <br> <inline>{{ out_defn|safe }}</inline></pre>
    </dd>
  </dl>
</body>
</html>

